<section class="customSection" id="about" style="background-image:@(imagePath);">
    <div class="card">
        @if (aboutMe == null)
        {
            <div class="card-body">
                <p><em>Loading...</em></p>
            </div>
        }
        else{
            <div class="card-header">
                <h2>About Myself</h2>
            </div>
            <div class="card-body">
                <p>
                    @aboutMe.Description
                </p>
                <div id="skillsContainer">
                    <div class="row">
                        @foreach (var skill in aboutMe.Skills)
                        {
                            <div class="col-md-6 col-12">@skill</div>
                        }
                    </div>
                </div>
                <p>
                    @aboutMe.DetailOrQuote
                </p>
            </div>
        }
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private AboutMe? aboutMe;
    private HeroImage? hero;
    private string imagePath = "none";

    protected override async Task OnInitializedAsync()
    {
        aboutMe = await Http.GetFromJsonAsync<AboutMe>("sample-data/aboutme.json");
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "about");
        if (hero != null)
        {
            imagePath = $"url({hero.Src})";
        }
    }
}
