<section class="customSection" id="home" style="background-image:@(imagePath);">
    <div class="card">
        <div class="card-body">
            @if (property == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <h1>@property.Name</h1>
                <h2>@property.Title</h2>
            }
        </div>
    </div>
    <a href="#about" target="_top">
        <div class="card" id="next">
            <div class="card-body">
                <img src="images/down-arrow.svg" style="height: 3rem; width: 3rem;" alt="scroll down" />
            </div>
        </div>
    </a>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private SiteProperties? property;
    private HeroImage? hero;
    private string imagePath = "none";

    protected override async Task OnInitializedAsync()
    {
        property = await Http.GetFromJsonAsync<SiteProperties>("sample-data/siteproperties.json");
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "home");
        if(hero != null)
        {
            imagePath = $"url({hero.Src})";
        }
    }
}
