@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

#main,
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
}
.customSection {
    position: relative;
    color: black;
    background: rgba(255, 255, 255, 0.35);
    padding: 8rem 0;
    max-width: 100%;
    margin:0px;
}

.background {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    z-index: -1;
}

.card {
    margin: auto;
    background: #FFFFFFE6;
    width: 90%;
}
.card-header {
    text-align: center;
}
.card-body {
    width: 90%;
    margin: auto;
}

.customLabel{
    font-weight:bold;
    width:100%;
}
.customData{
    width:100%;
}
.hover {
    cursor: pointer;
}

#home {
    max-width: 100%;
    height: 100vh;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
}
    #home .card {
        margin: auto;
        background: #FFFFFFE6;
        width: fit-content !important;
        padding: 10px 20px;
        border: solid 2px;
        border-color: #868686;
    }
    #home .card-body {
        width: fit-content;
        text-align: center;
    }
    #home h1 {
        margin: auto;
    }

#home #next{
    padding:0px;
    color:black;
    position: absolute; 
    bottom:2rem; 
    left:50%; 
    transform: translate(-50%, 0);
}

#about {
    max-width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
    
#skillsContainer {
    margin: 1rem auto;
    padding:0.5rem;
    width: 90%;
    background-color: #c3c3c3;
    border-radius: 2rem;
    border:solid 2px #7d7d7d;
    text-align: center;
}

#portfolio {
    max-width: 100%;
    padding: 2rem;
    background: linear-gradient(90deg, #272264, #244683, #0f75bc, #28407c, rgba(38,33,99,1))
}

    #portfolioImageContainer{
        width:100%;
        height:100%;
        align-content:center;
    }

    #portfolioImageContainer img {
        width: 100%;
        height: auto;
    }

#portfolio .card {
    width: 95%;
}

.stageCard .card-header {
    position: relative;
}
.expandButton {
    background-color: black; 
    width:2rem;
    color: white; 
    cursor: pointer; 
    padding: 1rem 2rem; 
    position: absolute; 
    right: 2rem; 
    top: 50%; 
    transform: translateY(-50%);
}

img.social-icon {
    width: 30px;
    height: 30px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }